<div>
    <h2>Multiple Choice Quiz</h2>
    
    <div>
        
        <form name="multipleChoiceQuizForm" role="form" novalidate ng-submit="submit()" show-validation>
            <div>

                <div ng-if="errorLoading" class="alert alert-danger">
                    <span>Could not find any words in {{from_language.language}}</span>
                </div>

                <div ng-if="errorSubmitting" class="alert alert-danger">
                    <span>An error occured while submitting your quiz</span>
                </div>

                <div id="question" ng-if="loaded">
                    <div>
                        Word {{ current_word_index + 1 }} / {{ total_num_words }}
                        <div id="word">
                            <div><label>{{ words[current_word_index].word.word }}</label></div>
                            <div id="answers">
                                <div ng-repeat="answer in words[current_word_index].answers">
                                    <input type="radio" name="answer" ng-model="words[current_word_index].answerWordId" ng-value="answer.id" /> {{answer.word}}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div>
                        <a href="#/multiple-choice-quiz-questions" type="button" class="btn btn-primary btn-xs" ng-click="previousWord()" ng-if="!isFirstWord()">
                            <span>Previous word</span>
                        </a>
                        <a href="#/multiple-choice-quiz-questions" type="button" class="btn btn-primary btn-xs" ng-click="nextWord()" ng-if="!isLastWord()">
                            <span>Next word</span>
                        </a>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary btn-xs" ng-if="isLastWord()">
                            <span>Submit</span>
                        </button>
                    </div>

                </div>
                   
            </div>

            <div id="summary" ng-if="received_answers">
                <h3>Your score: {{score}} %</h3>
                <div ng-repeat="word in words track by $index" class="answer">
                    Word {{$index + 1}}. <label>{{word.word.word}}</label>
                    <div ng-repeat="answer in word.answers">
                        <div ng-if="answer.id == word.correctAnswerWordId && word.answerWordId != word.correctAnswerWordId" class="bg-success">{{answer.word}} This is the correct answer</div>
                        <div ng-if="answer.id == word.correctAnswerWordId && word.answerWordId == word.correctAnswerWordId" class="bg-success">{{answer.word}} Your answer is correct
                        </div>
                        <div ng-if="answer.id == word.answerWordId && word.answerWordId != word.correctAnswerWordId" class="bg-danger">{{answer.word}} Your answer is wrong
                        </div>
                        <div ng-if="answer.id != word.correctAnswerWordId && answer.id != word.answerWordId">{{answer.word}}
                        </div>

                    </div>                    
                </div>
            </div>

        </form>

    </div>
</div>